* {
    margin: 0;
    padding: 0;
    width: 100vw;
    background-color: blue;
    height: 100vh;
    /* font-family: 'Roboto', sans-serif; */
    background-color: #f5f5f5;
}

/* .jogo {
    width: 790px;
    height: 700px;
    margin:  80px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.primeiro-setor{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 70%;
    position: relative;
}

.forca{
    width: 60%;
    height: 100%; 
}

img{
    width: 85%;
    height: 95%;
}

.inicio{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.inicio button {
    width: 200px;
    height: 50px;
    top: 30px;
    right: 25px;
    position: absolute;
    background-color:#27AE60;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.palavraEscolhida {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 420px auto 0% auto;
    
}

.palavraEscolhida > p {
    font-size: 35px;
    font-weight: bold;
    margin: auto 5px;
}
.palavraEscolhida  .errou{
    color: red;
}
.palavraEscolhida .acertou{
    color: green;
}

.segundo-setor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.segundo-setor  > .alfabeto{
    display: flex;
    width: 90%;
    flex-wrap: wrap;
    margin: 20px 65px 15px 85px;
}

.segundo-setor .alfabeto > button{
    margin: 3px;
    width: 45px;
    height: 45px;
    background-color:  #E1ECF4;
    color: #39739D;
    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    border: 1px  #39739D solid;
}
.segundo-setor .alfabeto button:hover{
    background-color:  #0080dc9f;
}

.segundo-setor .alfabeto button:disabled{
    color: #79818F;
    background-color: #9FAAB5;
    cursor: inherit;
}

.chute{
    margin: 10px auto;
    display: flex;
    align-items: center;
}

.chute p{
    font-size: 20px;
    margin-right: 10px;
}

.chute input{
    width: 280px;
    height: 30px;
    margin-right: 10px;
    font-size: 20px;
}

.segundo-setor .chute > button{
    background-color: #E1ECF4;
    color: #39739D;
    font-weight: bold;
    border:1px #39739D solid;
    width: 75px;
    height: 40px;
    font-size: 0.99em;
    text-transform: none;
    cursor: pointer;
}

.segundo-setor .chute > button:hover{
    background-color: #badef8bc;
}

.segundo-setor .chute > button:disabled{
    color: #79818F;
    background-color: #9FAAB5;
    cursor: inherit;
}
 */
